@media only screen and (min-width: 280px){
    header nav {
        display: none;
    }
    .mobile-menu{
        display: flex;
        justify-content: center;
        background-color: #97221B;
        padding: 4%; 
        padding-bottom:10%;
        width: 100%;
        margin-left: -5.5%;
        margin-top: 1%;
        border-radius: 30px 30px 0px 0px;
    }
    #hamburguesa{
        width: 15%;
        height: 15%;
        margin-right: 10%;
        margin-top: 9%;
    }
    #hamburguesaonclick{
        display: none;
        width: 15%;
        height: 15%;
        margin-right: 10%;
        margin-top: 9%;
    }
    #menucontenedor{
        display: none;
        margin-top:-6%;
        margin-left: 4%;
        margin-right: 25%;
        width: 70%;
        height: 70%;
        background-color: #97221B;
        padding: 10%;
        z-index: 1;
    }
    .fixed{
        position: fixed;
        margin: 5%;
    }
    .containermenumobile{
        background-color: black;
        padding: 10%;
        margin-top: -25%;
        padding-top:  7%;
        padding-bottom: 0;
        margin-left: -10%;
        width: 100%;
    }
    .formulario{
        margin-top: 30%;
    }
        .menu{
            text-decoration: none;
            margin: 2px 4px;
            background-color: #046A6A;
            color: #E8DDC1;
            border: 3px solid #E8DDC1;
            font-size: 200%;
            font-family: musetta;
            text-align: center;
        }
        .menu:hover{
            background-color: #97221B;
            color: #E8DDC1;
        }
        .menumobile{
            text-decoration: none;
            margin: 2px 4px;
            background-color: #046A6A;
            color: #E8DDC1;
            border: 1px solid #E8DDC1;
            font-size: 150%;
            font-family: musetta;
            text-align: center;
            padding: 2% 5%;
            display: flex;
            text-align: center;
            justify-content: center;
        }
        nav{
            display: flex;
            justify-content: center;
            align-items: space-between;
            background-color: #97221B;
            padding-right: 15%;
            padding-left: 15%;
            border-radius: 30px 30px 0px 0px;
        }
        body{
            background-color: black;
            color: #E8DDC1;
            margin: 3%;
        }
        .logo{
            width:19%; 
            height:19%;
            position: relative;
            margin-top:4.5%;
            margin-left: 5%;
        }
        .logologin{
            width:100%; 
            height:100%;
            margin-top:50%;
            margin-left: 3%;
        }
        #logomobile{
            width:50%; 
            height:50%;
            position: relative;
            padding-top: 7%;
            margin-right: 10%;
            margin-top: 0;
            margin-left: 25%;
        }
        .images{
            width: 100%;
            height: 100%;
            z-index: 2;
            margin-top: 23%;
        }
        .imagenpeque{
            width: 30%;
            height: 30%;
            margin: 2% 4%;
            display:none
        }
        .imagenpeque1700{
            width: 95%;
            height: 60%;
            margin: 6% 2%;
            margin-bottom: 8%;
            display: block;
        }
        .context{
            display:flex;
            flex-direction: column;
            justify-content: center;
            background-color: #046A6A;
            border: 5px solid #E8DDC1;
            margin: 5% 0;
        }
        .contextarticulos{
            display:flex;
            flex-direction: column;
            justify-content: center;
        }
        .contextblog{
            display:flex;
            flex-direction: column;
            justify-content: center;
            margin-top: -10%;
        }
        .contenido{
            font-family: Agesta display;
            font-size: 100%;
            margin: 0 2%;
            text-align: justify;
            text-justify: inter-word;
        }
        .mayusculas{
            font-size: 200%;
        }
        h1{
            font-family: Argesta display;
            background-color:#B27632;
            text-align: center;
            padding: 30px;
            border: 3px solid #E8DDC1;
        }
        .comprar{
            text-decoration: none;
            color: #E8DDC1;
            background-color:#97221B;
            font-family: Argesta display;
            margin-top: 10%;
            width: 100%;
            padding: 2%;
            font-size: 80%;
            border: 1px solid #E8DDC1;
        }
        .comprar:hover{
            color: #E8DDC1;
            background-color:#65130f;
            font-family: Argesta display;
            padding: 2%;
            font-size: 80%;
    }
        .logofooter{
            width:50%; 
            margin: 5% 25%;
        }
        .footermovil{
            display: inline-block;
        }
        .foot:hover{
            background-color: #B27632;
            color: #E8DDC1;
        }
        footer{
            background-color: #97221B;
            margin-top: 5%;
            padding: 5%;
            border-radius: 0px 0px 30px 30px;
        }
        .containerfoot{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .foot{
            text-decoration: none;
            margin: 5% 2%;
            background-color: #046A6A;
            color: #E8DDC1;
            border: 1px solid #E8DDC1;
            font-size: 150%;
            font-family: musetta;
            padding: 2% 5%;
            width: 100%;
            text-align:center;
        }
        .containerfooterrow{
            display: none;
        }
        .contenidoblogtitular{
            width: 80%;
            height: 100%;
            font-family: Argesta display;
            background-color: #97221B;
            padding: 0 3%;
            border: 3px solid #E8DDC1;
            font-size: 80%;
            margin: 0 auto;
            text-align: justify;
            text-justify: inter-word;
        }
        .contenidoblog{
            width: 86%;
            height: 80%;
            font-family: Agesta display;
            background-color: #97221B;
            padding: 0 5%;
            border: 3px solid #E8DDC1;
            font-size: 90%;
            margin: 5% 2%;
            text-align: justify;
            text-justify: inter-word;
        }
        .continuarleyendomain{
            text-decoration: none;
            color: #E8DDC1;
            background-color:#97221B;
            padding-right: 25px;
            padding-left: 25px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 40px;
            margin-left: 15% ;
        }
        .continuarleyendomain:hover{
            color: #97221B;
            background-color:#E8DDC1;
            padding-right: 25px;
            padding-left: 25px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 40px;
        }
        .continuarleyendo{
            text-decoration: none;
            color: #E8DDC1;
            background-color:#97221B;
            padding-right: 25px;
            padding-left: 25px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 40px;
            margin-left: 10% ;
        }
        .continuarleyendo:hover{
            color: #97221B;
            background-color:#E8DDC1;
            padding-right: 25px;
            padding-left: 25px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 40px;
        }
        .imagenpequeblogtitular{
            width: 96.5%;
            height: 150%;
            border: 5px solid black;
            margin: 25% 0;
            margin-bottom:3%;
        }
        .imagenpequeblog{
            height: 50%;
            width: 50%;
            border: 5px solid black;
            margin-right: 10px;
            margin-left: 10px;
            display:none;
        }
        .img-responsive{
            display: block;
            width: 99%;
            height: 320px;
            margin: 5% 2%;
        }
        .contextmain{
            margin: 10% 5%;
        }
        .title{
            font-size: 250%;
            margin-top: 4%;
            margin-bottom:2%;
        }
        .containerform{
            border-radius: 5px;
            padding: 20px;
            margin: 2% 2%;
        }
        input[type=text], select {
            width: 100%;
            padding: 5px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #E8DDC1;
            border-radius: 4px;
            box-sizing: border-box;
            background-color: #046A6A;
            color: #E8DDC1;
            font-family: Argesta display;
            font-size: large;
        }
        
        input[type=submit] {
            width: 100%;
            background-color: #046A6A;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            color: #E8DDC1;
            font-family: Argesta display;
            font-size: 20px;
        }
        
        input[type=submit]:hover {
            background-color: #97221B;
        }
        textarea{
            width: 98%;
            height: 200px;
        }
        .containerlogin{
            border-radius: 5px;
            padding: 100px 20%;
        }
        
        
}

@media only screen and (min-width: 768px){
    .mobile-menu{
        display: flex;
        justify-content: center;
        background-color: #97221B;
        padding: 5%;
        width: 100%;
        margin-left: -7%;
        margin-top: -10%;
        border-radius: 30px 30px 0px 0px;
    }
    #hamburguesa{
        width: 8%;
        margin: 1% 0;
        margin-left: 20%;
    }
    #hamburguesaonclick{
        width: 8%;
        margin: 1% 0;
        margin-left: 20%;
        display: none;
    }
    #menucontenedor{
        display: none;
        margin-top:-6%;
        margin-left: 13%;
        margin-right: 25%;
        width: 50%;
        height: 50%;
        background-color: #97221B;
        padding: 10%;
        z-index: 1;
    }
    .containermenumobile{
        background-color: black;
        padding: 10%;
        margin-top: -15%;
        padding-top:  15%;
        padding-bottom: 0;
        margin-left: -10%;
        width: 100%;
    }
    .menumobile{
    margin: 2px 4px;
    border: 3px solid #E8DDC1;
    font-size: 200%;
    padding: 0 5%;
    }
    .logologin{
            width:50%; 
            height:50%;
            margin-top:50%;
            margin-left: 30%;
        }
    #logomobile{
        width:25%; 
        height:25%;
        margin-left: 35%;
        position: relative;
        padding: 0;
    }
    .imagenpeque1700{
        width: 40%;
        height: 60%;
        margin: 6% 2%;
        margin-bottom: 8%;
        display: block;
    }
    .context{
        display:flex;
        flex-direction: row;
        justify-content: center;
        background-color: #046A6A;
        border: 5px solid #E8DDC1;
    }
    .contextarticulos{
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    .contextarticulos1{
        display:flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 15%;
    }
    .comprar{
        margin-bottom: 5%;
    }
    .logofooter{
        width:20%; 
        height: auto;
        position: relative;
        margin: 10%  2%;
    }
    .containerfooter{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .foot{
        font-size: 100%;
        margin:  11% 1%;
        height: 10%;
        padding: 1% 2%;
    }
    .containerfoot{
        margin: 10% 10%;
    }
    .containerfooterrow{
        display: flex;
        margin-top: 0;
    }
    .footermovil{
        display: none;
    }
    footer{
        padding: 0 2%;
    }
    .contenidoblogtitular{
        width: 80%;
        height: 100%;
        font-family: Argesta display;
        background-color: #97221B;
        padding: 0 3%;
        border: 3px solid #E8DDC1;
        font-size: 100%;
        margin-bottom: 8%;
    }
    .images{
        margin-top: 18%;
        
    }
    .contenidoblog{
        width: 200%;
        margin: 0 1%;
    }
    .continuarleyendomain{
        margin-left: 65% ;
        border: 3px solid #E8DDC1;
    }
    .continuarleyendo{
        margin-left: 13%;
        border: 3px solid #E8DDC1;
    }
    .imagenpequeblogtitular{
        width: 100%;
        border: 5px solid #E8DDC1;
        margin: 4.5% 0;
        margin-top: 23%;
        margin-left: -1%;
    }
    .imagenpequeblog{
        display:none;
    }
    .img-responsive{
        display: block;
        width: 50%;
        height: 100%;
        margin: 0 2%;
        border: 5px solid #E8DDC1;
    }
    .contextmain{
        margin: -7% 5%;
    }
    .title{
        font-size: 250%;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .containerform{
        border-radius: 5px;
        padding: 20px;
    }
    .formulario{
        margin-top: 15%;
    }
    input[type=submit] {
        cursor: pointer;
        font-size: 20px;   
    }
    input[type=submit]:hover {
        background-color: #97221B;
    }
    textarea{
        width: 100%;
        height: 500px;
    }
    .containerlogin{
        border-radius: 5px;
        padding: 100px 20%;
        margin-bottom: 18%;
    }
}

@media only screen and (min-width: 1100px){
    header nav {
        display: block;
        }
        #hamburger-icon{
            display: none;
        }
    .menu{
        text-decoration: none;
        padding: 0.5% 2%;
        margin: 5% 2%;
        background-color: #046A6A;
        color: #E8DDC1;
        border: 3px solid #E8DDC1;
        font-size: 200%;
        font-family: musetta;
        height: 15%;
    }
    .menu:hover{
        background-color: #97221B;
        color: #E8DDC1;
    }
    .navbarmenu{
        display: flex;
        justify-content: center;
        align-items: space-between;
        background-color: #97221B;
        margin: 5% 2.5%;
        border-radius: 30px 30px 0px 0px;
        width: 65%;
    }
    body{
        background-color: black;
        color: #E8DDC1;
        margin: 3%;
    }
    .logo{
        width:22%; 
        position: relative;
        margin: 5% 2%;
    }
    .fixed{
        display: none;
    }
    .images{
        width: 100%;
        height: 100%;
        margin-top: 10%;
    }
    .headercontainer{
        position: fixed;
        background-color: black;
        padding: 0;
        padding-bottom:0;
        margin-top: -5%;
        margin-left: -3%;
        width: 100%;
        z-index: 1;
    }
    .imagenpeque{
        width: 50%;
        height: 60%;
        margin: 2% 4%;
        display:none
    }
    .imagenpeque1700{
        height: 630px;
        margin: 2%;
        margin-top: 4%;
        display: block;
    }
    .context{
        display:flex;
        flex-direction: row;
        background-color: #046A6A;
        border: 5px solid #E8DDC1;
    }
    .contenido{
        font-family: Agesta display;
        background-color: #046A6A;
        border: 5px solid #E8DDC1;
        padding:2%;
        font-size: 150%;
        margin: 2%;
        text-align: justify;
        text-justify: inter-word;
        width: 150%;
        height: 50%;
    }
    .containermenumobile{
        display: none;
    }
    #menucontenedor{
        display:none;
    }
    .comprar{
        text-decoration: none;
        color: #E8DDC1;
        background-color:#97221B;
        font-family: Argesta display;
        margin-top: 10%;
        width: 100%;
        padding: 2%;
        font-size: 80%;
        border: 1px solid #E8DDC1;
    }
    .comprar:hover{
        color: #E8DDC1;
        background-color:#65130f;
        font-family: Argesta display;
        padding: 2%;
        font-size: 80%;
    }
    .contextarticulos {
        margin: 5% 0;
    }
    .logofooter{
        width:20%; 
        height: auto;
        position: relative;
        margin: 5%  2%;
    }
    .containerfooter{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .foot{
        font-size: 200%;
        margin:  5% 1%;
        padding: 1% 2%;
        height: 25%;
    }
    .containerfoot{
        margin: 10% 10%;
    }
    .containerfooterrow{
        display: flex;
        margin-top: 0;
    }
    .footermovil{
        display: none;
    }
    footer{
        padding: 0 2%;
    }
    .foot:hover{
        background-color: #B27632;
        color: #E8DDC1;
    }
    .contenidoblogtitular{
        width: 92%;
        font-family: Argesta display;
        background-color: #97221B;
        padding: 30px;
        border: 5px solid #E8DDC1;
        font-size: 22px;
        margin-bottom: 1%;
        text-align: justify;
        text-justify: inter-word;
    }
    .contenidoblog{
        width: 100%;
        font-family: Agesta display;
        background-color: #97221B;
        padding: 20px;
        border: 5px solid #E8DDC1;
        font-size: 22px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: justify;
        text-justify: inter-word;
    }
    .continuarleyendomain{
        text-decoration: none;
        color: #E8DDC1;
        background-color:#97221B;
        padding-right: 25px;
        padding-left: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
    }
    .continuarleyendomain:hover{
        color: #97221B;
        background-color:#E8DDC1;
        padding-right: 25px;
        padding-left: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 40px;
    }
    .continuarleyendo{
        text-decoration: none;
        color: #E8DDC1;
        background-color:#97221B;
        padding-right: 25px;
        padding-left: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .continuarleyendo:hover{
        color: #97221B;
        background-color:#E8DDC1;
        padding-right: 25px;
        padding-left: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 40px;
    }
    .imagenpequeblogtitular{
        width: 100%;
        margin-left: 0;
        border: 5px solid black;
    }
    .imagenpequeblog{
        height: 50%;
        width: 50%;
        border: 5px solid black;
        margin-right: 10px;
        margin-left: 10px;
    }
    .contextmain{
        margin: 5%;
    }
    .title{
        font-size: 300%;
    }
    .containerform{
        border-radius: 5px;
        padding: 20px;
    }
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 5px solid #E8DDC1;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #046A6A;
        color: #E8DDC1;
        font-family: Argesta display;
        font-size: large;
    }
    
    input[type=submit] {
        width: 100%;
        background-color: #046A6A;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        color: #E8DDC1;
        font-family: Argesta display;
        font-size: 40px;
    }
    .img-responsive{
        height: relative;
    }
    input[type=submit]:hover {
        background-color: #97221B;
    }
    textarea{
        width: 100%;
        height: 400px;
    }
    .containerlogin{
        border-radius: 5px;
        padding: 100px 20%;
    }
}
@media only screen and (min-width: 1450px){
    .imagenpeque1700{
        margin-top: 3%;
        margin-bottom:0;
    }
}

@media only screen and (min-width: 1700px){
    header nav {
        display: block;
        }
        #hamburger-icon{
            display: none;
        }
    .imagenpeque1700{
        width: 58%;
        height: 60%;
        margin-right: 2%;
        margin-left: 2%;
        display:none
    }
    .context{
        display:flex;
        flex-direction: row;
        background-color: #046A6A;
        border: 5px solid #E8DDC1;
    }

    .contenido{
        margin-top: 7.5%;
        background-color: #046A6A;
        border: 3px solid #E8DDC1;
        margin:7% 1%;
    }
    .imagenpeque{
        display: block;
        border: 3px solid black;
        margin-top: 7.5%;
        width: 50%;
        margin-right: 1%;
    }
    .menu{
        font-size: 200%;
        margin-top: 6%;
        padding: 0.5% 3%;
    }
}

@media only screen and (min-width: 2100px){
    .menu{
        font-size: 300%;
        margin-top: 6%;
        padding: 0.5% 3%;
    }
    .logo{
        width: 22%;
    }
    .logologin{
        width:50%; 
        height:50%;
        margin-top:10%;
        margin-left: 30%;
    }
    .containerform{
        margin-top: 10%;
    }
    .foot{
        margin: 6%;
        height: 50%;
        width: 50%;
        font-size: 200%;
    }
    .contenido{
        margin-top: 7.5%;
        background-color: #046A6A;
        border: 3px solid #E8DDC1;
        margin:2% 2%;
        margin-bottom: 2%;
    }
    .imagenpeque{
        border: 3px solid black;
        margin: 0 2%;
        margin-top:2%;
        margin-bottom: 2%;
    }
    .imagenpequeblogtitular{
        width: 97.8%;
        margin-left: 0.8%;
    }
}
@media only screen and (min-width: 2500px){
    .menu{
        font-size: 300%;
        margin-top: 6%;
        padding: 0.5% 3%;
    }
    .logo{
        width: 22%;
    }
    .logologin{
        width:50%; 
        height:50%;
        margin-top:10%;
        margin-left: 30%;
    }
    .containerform{
        margin-top: 10%;
    }
    .foot{
        margin: 6%;
        height: 50%;
        width: 50%;
        font-size: 200%;
    }
    .contenido{
        margin-top: 7.5%;
        background-color: #046A6A;
        border: 3px solid #E8DDC1;
        margin:2% 2%;
    }
    .imagenpeque{
        border: 3px solid black;
        margin: 2% 2%;
        width: 41.5%;
    }
    .foot{
        font-size: 250%;
    }
}